body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u439 {
  position:absolute;
  left:10px;
  top:10px;
  width:414px;
  height:736px;
}
#u440 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:140px;
  background:inherit;
  background-color:rgba(0, 153, 161, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u441 {
  position:absolute;
  left:10px;
  top:10px;
  width:414px;
  height:140px;
}
#u442 {
  position:absolute;
  left:2px;
  top:62px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:161px;
}
#u444 {
  position:absolute;
  left:224px;
  top:22px;
  width:165px;
  height:161px;
}
#u445 {
  position:absolute;
  left:2px;
  top:72px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:172px;
}
#u446 {
  position:absolute;
  left:224px;
  top:20px;
  width:171px;
  height:172px;
}
#u447 {
  position:absolute;
  left:2px;
  top:78px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u448 {
  position:absolute;
  left:34px;
  top:92px;
  width:119px;
  height:22px;
  font-family:'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u449 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT Italic', 'Tw Cen MT';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#0099A1;
}
#u450 {
  position:absolute;
  left:33px;
  top:186px;
  width:222px;
  height:32px;
  font-family:'Tw Cen MT Italic', 'Tw Cen MT';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#0099A1;
}
#u451 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:135px;
}
#u452 {
  position:absolute;
  left:98px;
  top:513px;
  width:241px;
  height:135px;
}
#u453 {
  position:absolute;
  left:2px;
  top:60px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:275px;
}
#u454 {
  position:absolute;
  left:10px;
  top:242px;
  width:414px;
  height:275px;
}
#u455 {
  position:absolute;
  left:2px;
  top:130px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 153, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT Bold', 'Tw Cen MT';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u457 {
  position:absolute;
  left:124px;
  top:638px;
  width:188px;
  height:54px;
  font-family:'Tw Cen MT Bold', 'Tw Cen MT';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u458 {
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u459 {
  position:absolute;
  left:264px;
  top:648px;
  width:33px;
  height:33px;
}
#u460 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT';
  font-weight:400;
  font-style:normal;
}
#u461 {
  position:absolute;
  left:30px;
  top:34px;
  width:151px;
  height:55px;
  font-family:'Tw Cen MT';
  font-weight:400;
  font-style:normal;
}
#u462 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
