body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u509 {
  position:absolute;
  left:10px;
  top:10px;
  width:414px;
  height:736px;
}
#u510 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:140px;
  background:inherit;
  background-color:rgba(0, 153, 161, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u511 {
  position:absolute;
  left:10px;
  top:10px;
  width:414px;
  height:140px;
}
#u512 {
  position:absolute;
  left:2px;
  top:62px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:161px;
}
#u514 {
  position:absolute;
  left:224px;
  top:22px;
  width:165px;
  height:161px;
}
#u515 {
  position:absolute;
  left:2px;
  top:72px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:172px;
}
#u516 {
  position:absolute;
  left:224px;
  top:20px;
  width:171px;
  height:172px;
}
#u517 {
  position:absolute;
  left:2px;
  top:78px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u518 {
  position:absolute;
  left:34px;
  top:92px;
  width:119px;
  height:22px;
  font-family:'Tw Cen MT';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT Italic', 'Tw Cen MT';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#0099A1;
}
#u520 {
  position:absolute;
  left:33px;
  top:186px;
  width:222px;
  height:32px;
  font-family:'Tw Cen MT Italic', 'Tw Cen MT';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#0099A1;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:135px;
}
#u522 {
  position:absolute;
  left:98px;
  top:513px;
  width:241px;
  height:135px;
}
#u523 {
  position:absolute;
  left:2px;
  top:60px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:275px;
}
#u524 {
  position:absolute;
  left:10px;
  top:242px;
  width:414px;
  height:275px;
}
#u525 {
  position:absolute;
  left:2px;
  top:130px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 153, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT Bold', 'Tw Cen MT';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u527 {
  position:absolute;
  left:124px;
  top:638px;
  width:188px;
  height:54px;
  font-family:'Tw Cen MT Bold', 'Tw Cen MT';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u528 {
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  word-wrap:break-word;
}
#u529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u529 {
  position:absolute;
  left:264px;
  top:648px;
  width:33px;
  height:33px;
}
#u530 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tw Cen MT';
  font-weight:400;
  font-style:normal;
}
#u531 {
  position:absolute;
  left:30px;
  top:34px;
  width:151px;
  height:55px;
  font-family:'Tw Cen MT';
  font-weight:400;
  font-style:normal;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
