/*
 * API V1
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.dork.app.react.cookie;

import com.dork.app.react.cookie.invoker.ApiCallback;
import com.dork.app.react.cookie.invoker.ApiClient;
import com.dork.app.react.cookie.invoker.ApiException;
import com.dork.app.react.cookie.invoker.ApiResponse;
import com.dork.app.react.cookie.invoker.Configuration;
import com.dork.app.react.cookie.invoker.Pair;
import com.dork.app.react.cookie.invoker.ProgressRequestBody;
import com.dork.app.react.cookie.invoker.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.dork.app.react.cookie.model.ActMessage;
import com.dork.app.react.cookie.model.Page;
import com.dork.app.react.cookie.model.User;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MessageApi {
    private ApiClient apiClient;

    public MessageApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MessageApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for apiMessageMessageRecentActByIdPost */
    private com.squareup.okhttp.Call apiMessageMessageRecentActByIdPostCall(String id, User user, Page page, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = page;
        
        // create path and map variables
        String localVarPath = "/api/Message/message/recent/act/{id}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "text/plain", "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/json-patch+json", "application/json", "text/json", "application/json-patch+json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call apiMessageMessageRecentActByIdPostValidateBeforeCall(String id, User user, Page page, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling apiMessageMessageRecentActByIdPost(Async)");
        }
        
        
        com.squareup.okhttp.Call call = apiMessageMessageRecentActByIdPostCall(id, user, page, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * 
     * @param id  (required)
     * @param user  (optional)
     * @param page  (optional)
     * @return List&lt;ActMessage&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<ActMessage> apiMessageMessageRecentActByIdPost(String id, User user, Page page) throws ApiException {
        ApiResponse<List<ActMessage>> resp = apiMessageMessageRecentActByIdPostWithHttpInfo(id, user, page);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param id  (required)
     * @param user  (optional)
     * @param page  (optional)
     * @return ApiResponse&lt;List&lt;ActMessage&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<ActMessage>> apiMessageMessageRecentActByIdPostWithHttpInfo(String id, User user, Page page) throws ApiException {
        com.squareup.okhttp.Call call = apiMessageMessageRecentActByIdPostValidateBeforeCall(id, user, page, null, null);
        Type localVarReturnType = new TypeToken<List<ActMessage>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param id  (required)
     * @param user  (optional)
     * @param page  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call apiMessageMessageRecentActByIdPostAsync(String id, User user, Page page, final ApiCallback<List<ActMessage>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = apiMessageMessageRecentActByIdPostValidateBeforeCall(id, user, page, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<ActMessage>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
